#tabsStatesHolder {
	height: 200px;
	width: 150px;
	border: 1px solid gray;
}

.pure-menu-link, .pure-menu-link.inactive:hover {
	background-color: #EEE;
	cursor: pointer;
}
.pure-menu-link.inactive {
	background-color: #FFF;
}



div.post {
	display: flex;
	align-items: center;
	min-height: 500px;
}
div.post .post-title {
	
}
div.post .post-description {
	text-align: center;
	flex: 1;
}
.twitter-timeline {
	min-width: 300px !important;
	max-width: 50% !important;
}