/* Combined styles */
a.pure-menu-link {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
a.pure-menu-link.inactive {
	color: #6FBEF3;
	font-weight: normal;
	text-decoration: none;
}

.pure-menu-item.pure-menu-has-children .pure-menu-item {
	display: inline-block;
}
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
	content: "";
}
.pure-menu-item.pure-menu-has-children a.pure-menu-link + .pure-menu-children {
	display: block;
	position: fixed;
	left: 0;
	width: 100vw;
}
.pure-menu-item.pure-menu-has-children a.pure-menu-link.inactive + .pure-menu-children {
	display: none;
}

#tabsStates .pure-menu-link, #tabsStates  .pure-menu-link.inactive:hover {
    color: #FFF;
    background-color: #3D4F5D;
    cursor: pointer;
}
#tabsStates .pure-menu-link.inactive {
    color: #777;
    background-color: transparent;
}

.splash-head {
	font-size: 3.5em;
	font-weight: bold;
	text-align: left;
	padding: 0;
	border: 0;
}
.splash-head span {
	font-size: 0.3em;
	font-weight: normal;
	line-height: 1;
	display: block;
}

section[id*="DashboardSummary"], section[id*="DashboardDetail"] {
	background-repeat: no-repeat;
	background-position: center center;
}
section[id*="DashboardSummary"] {
	background-image: url('../img/loading.gif');
	min-height: 150px;
}
section[id*="DashboardDetail"] {
	background-image: url('../img/loading_dark.gif');
	min-height: 150px;
}

/* Mobile styles */
.home-menu {
	display: flex;
	flex-direction: column;
}

.splash-container {
	position: relative !important;
}
.splash {
	position: relative;
	margin-top: 120px;
	margin-bottom: 20px;
	top: 0;
}
#stateDataC .splash {
	margin-top: 160px;
}

.content-wrapper {
	position: relative;
}

/* Desktop Styles */
@media screen and (min-width:48em) {
	.home-menu {
		display: block;
	}
	
	.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
		display: flex;
		width: 100%;
	}
	#tabsStates > li:last-child > a {
		margin-right: 11px;
	}
	
	.splash-container {
		position: fixed !important;
	}
	.splash {
		display: flex;
		position: absolute;
		width: 90%;
		height: auto;
		align-items: center;
		margin-top: 5em;
		margin-bottom: 5em;
	}
	#usDataC .splash {
		top: 62px;
	}
	#stateDataC .splash {
		margin-top: 4em;
		top: 127px;
	}
	.splash > div:nth-child(1) {
		flex: 1 1 70%;
	}
	.splash-head {
		margin: 0;
	}
	.splash > div:nth-child(2) {
		flex: 1 1 30%;
		margin-left: 80px;
	}
	
	.content-wrapper {
		position: absolute;
	}
	
	section[id*="DashboardSummary"] iframe {
		max-height: 315px;
	}
}