#tabsStatesHolder {
	width: calc(100% + 6em);
	margin: -2em -3em 2em;
}

.pure-menu-link, .pure-menu-link.inactive:hover {
	background-color: #EEE;
	cursor: pointer;
}
.pure-menu-link.inactive {
	background-color: #FFF;
}



div.post {
	display: flex;
	align-items: center;
	min-height: 500px;
}
div.post .post-title {
	
}
div.post .post-description {
	text-align: center;
	flex: 1;
}
.twitter-timeline {
	min-width: 300px !important;
	max-width: 50% !important;
}